DATABASE=HDR_GATEWAY_DB
DATABASE_USER=postgres
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_PORT=5432
PORT=5001
NODE_ENV=local


API_BASE_URL=https://metadata-catalogue.org/hdruk/api/
API_LOGIN=authentication/login
API_LOGOUT=authentication/logout
API_SEARCH=catalogueItems/search
API_ALL_DATAMODELS=dataModels

API_DOMAINTYPES=DataElement, DataModel
API_DATAMODELTYPES=Data Asset
